<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Concierto de Aranjuez</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/estilos.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="index.html" class="logo nav-link">Concierto de Aranjuez</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="audios.html">Audios</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="video.html">Videos</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="compositor.html">Compositor</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="historia.html">Historia</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="primerMovimiento.html">Movimiento I</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="segundoMovimiento.html">Movimiento II</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="tercerMovimiento.html">Movimiento III</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <aside class="aside">
            <h2>Más Vendidos</h2>
            <p>¿Sabías que el Concierto de Aranjuez fue inspirado por la belleza de los jardines del Palacio Real de Aranjuez? Desde su estreno, ha cautivado a audiencias de todo el mundo, convirtiéndose en uno de los conciertos más interpretados en la historia de la música clásica.</p>
        </aside>
        <section class="section">
            <h3>Movimiento I (Allegro)</h3>
            <figure>
                <audio controls>
                    <source src="../audio/primerMovimiento.mp3" type="audio/mpeg">
                    Su explorador no soporta el formato de audio <code>audio</code>
                </audio>
            </figure>
            <h3>Movimiento II (Adagio)</h3>
            <figure>
                <audio controls>
                    <source src="../audio/segundoMovimiento.mp3" type="audio/mpeg">
                    Su explorador no soporta el formato de audio <code>audio</code>
                </audio>
            </figure>
            <h3>Movimiento III (Allegro)</h3>
            <figure>
                <audio controls>
                    <source src="../audio/tercerMovimiento.mp3" type="audio/mpeg">
                    Su explorador no soporta el formato de audio <code>audio</code>
                </audio>
            </figure>
        </section>
        <footer class="footer">
            <p>Derechos Reservados</p>
        </footer>
    </body>
</html>
