<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Concierto de Aranjuez</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/estilos.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="index.html" class="logo nav-link">Concierto de Aranjuez</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="audios.html">Audios</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="video.html">Videos</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="compositor.html">Compositor</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="historia.html">Historia</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="primerMovimiento.html">Movimiento I</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="segundoMovimiento.html">Movimiento II</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="tercerMovimiento.html">Movimiento III</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <aside class="aside">
            <h2>Más Vendidos</h2>
            <p>¿Sabías que el Concierto de Aranjuez fue inspirado por la belleza de los jardines del Palacio Real de Aranjuez? Desde su estreno, ha cautivado a audiencias de todo el mundo, convirtiéndose en uno de los conciertos más interpretados en la historia de la música clásica.</p>
        </aside>
        <section class="section">
            <h2>Joaquín Rodrigo</h2>
            <p>Joaquín Rodrigo (1901-1999) fue un destacado compositor y pianista español, conocido principalmente por su obra "Concierto de Aranjuez". Nacido en Sagunto, Rodrigo quedó ciego a los tres años debido a una enfermedad, pero su pasión por la música lo llevó a estudiar en el Conservatorio de Madrid y, más tarde, en París, donde se empapó de las corrientes musicales de su tiempo. <br><br>

                A lo largo de su carrera, Rodrigo compuso más de 150 obras, abarcando géneros como la música sinfónica, de cámara y vocal. Su estilo se caracteriza por la fusión de elementos del folclore español con influencias clásicas, lo que le permitió crear un lenguaje musical único y evocador.<br><br>
                
                El "Concierto de Aranjuez", estrenado en 1939, se convirtió en su obra más emblemática y un referente del repertorio para guitarra clásica. A lo largo de su vida, recibió numerosos premios y reconocimientos, consolidándose como uno de los compositores más importantes del siglo XX.<br><br>
                
                Rodrigo también fue un gran defensor de la música española, dedicándose a la enseñanza y a la promoción de nuevos talentos. Su legado sigue vivo, inspirando a generaciones de músicos y amantes de la música en todo el mundo.<br><br></p>
            <img src="../img/joaquinrodrigo.jfif" alt="Joaquín Rodrigo" width="400"/>
        </section>
        <footer class="footer">
            <p>Derechos Reservados</p>
        </footer>
    </body>
</html>
