<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Concierto de Aranjuez</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/estilos.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="index.html" class="logo nav-link">Concierto de Aranjuez</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="audios.html">Audios</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="video.html">Videos</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="compositor.html">Compositor</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="historia.html">Historia</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="primerMovimiento.html">Movimiento I</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="segundoMovimiento.html">Movimiento II</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="tercerMovimiento.html">Movimiento III</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <aside class="aside">
            <h2>Más Vendidos</h2>
            <p>¿Sabías que el Concierto de Aranjuez fue inspirado por la belleza de los jardines del Palacio Real de Aranjuez? Desde su estreno, ha cautivado a audiencias de todo el mundo, convirtiéndose en uno de los conciertos más interpretados en la historia de la música clásica.</p>
        </aside>
        <section class="section">
            <h2>Concierto de Aranjuez: Un Viaje Musical Inolvidable</h2>
            <p>Descubre la magia del Concierto de Aranjuez, una obra maestra del repertorio clásico compuesta por Joaquín Rodrigo en 1939. Este célebre concierto para guitarra y orquesta es un verdadero homenaje a la belleza del paisaje y la cultura española. Con sus evocadoras melodías y ritmos vibrantes, te transportará a los jardines del Palacio Real de Aranjuez, donde la naturaleza y la música se entrelazan. <br><br>
                En cada interpretación, la guitarra despliega su emotividad, mientras que la orquesta complementa la narrativa musical con armonías ricas y dinámicas apasionadas. Este concierto no solo es un deleite para los oídos, sino también una experiencia sensorial que invita a la reflexión y la contemplación. <br><br>
                Únete a nosotros para vivir una velada inolvidable, donde la música se convierte en un puente hacia las emociones más profundas. ¡No te pierdas la oportunidad de ser parte de este evento que celebra la esencia de la cultura española!
            </p>
            <img src="../img/joaquinrodrigo.jfif" alt="Joaquín Rodrigo" width="400"/>
        </section>
        <footer class="footer">
            <p>Derechos Reservados</p>
        </footer>
    </body>
</html>
